
#RewriteEngine on


#RewriteRule ^panel admin/wp-login.php [L]
#RewriteRule ^admin admin/wp-login.php [L]
#RewriteRule ^ app/public/index.html [L]
<IfModule mod_rewrite.c>

   Options +FollowSymlinks
   RewriteEngine On

#   RewriteRule ^panel$ http://vtaminka.zzz.com.ua/admin/wp-login [L]
#RewriteBase /my-blog/

   RewriteCond %{REQUEST_FILENAME} -f [OR]
   RewriteCond %{REQUEST_FILENAME} -d
   RewriteRule ^ - [L]
#   RewriteRule ^ index.html [L]


   RewriteRule ^panel admin/wp-login.php [L]
      #RewriteRule ^admin admin/wp-login.php [L]
#   RewriteRule ^vtaminka js/index.js [L]

 RewriteRule ^ app/public/index.html [L]

</IfModule>